[Review] Warren Kumari

> 1:  "This is similar scan and could be perceived as aggressive."  — I'm 
> assuming this should be something like "This is similar *to scanning*, 
> and …" . This also somewhat implies that scanning is usually viewed as 
> something negative. Perhaps just change this to "Sometimes these 
> measurements are viewed as unwelcome or aggressive" (or similar).
>
> 2: "a proposes a couple of simple" - I'd suggest "some simple" ("a 
> couple" often implies two).

```diff
-Active measurements at Internet-scale can target either collaborating parties or non-collaborating ones. This is similar scan and could be perceived as aggressive. This document proposes a couple of simple techniques allowing any party or organization to understand what this unsolicited packet is, what is its purpose, and more importantly who to contact.
+Active measurements at Internet-scale can target either collaborating parties or non-collaborating ones. Sometimes these measurements are viewed as unwelcome or aggressive. This document proposes some simple techniques allowing any party or organization to understand what this unsolicited packet is, what is its purpose, and more importantly who to contact.

-This document suggests a couple of simple techniques allowing any party or organization to understand:
+This document suggests some simple techniques allowing any party or organization to understand:
```

> 3:  "Sending unsolicited probes should obviously be done at a rate low 
> enough to avoid wasting other parties resources." - *Any* unsolicited 
> scan is wasting my resources, and "low enough" is largely meaningless - 
> is this one packet per day per AS, or is 1Kpps OK? Perhaps "at a rate 
> low enough to not unduly impact the other parties resources"? This is 
> still vary vague, but seems less hand-wavey.

```diff
-Sending unsolicited probes should obviously be done at a rate low enough to avoid wasting other parties resources. But even at a low rate, those probes could trigger an alarm that will request some investigation by either the party receiving the probe (i.e., when the probe destination address is one address assigned to the receiving party) or by a third party having some devices where those probes are transiting (e.g., an Internet transit router).
+Sending unsolicited probes should obviously be done at a rate low enough to not unduly impact the other parties resources. But even at a low rate, those probes could trigger an alarm that will request some investigation by either the party receiving the probe (i.e., when the probe destination address is one address assigned to the receiving party) or by a third party having some devices where those probes are transiting (e.g., an Internet transit router).
```

> 4: "only good-willing researchers" doesn't read very well. Unfortunately 
> I don't have any other suggestions (other than 'white-hat' which is 
> unlikely to fly…)

```diff
-Note: it is expected that only good-willing researchers will use these techniques.
+Note: it is expected that only researchers with no bad intentions will use these techniques.

-While it is expected that only good-willing researchers will use these techniques, they will simplify and shorten the time to identify a probing across the Internet.
+While it is expected that only researchers with no bad intentions will use these techniques, they will simplify and shorten the time to identify a probing across the Internet.
```

> 5: "If  the URI cannot be placed at the beginning of the payload, then 
> it should be preceded also by an octet of 0x00." — I think drop the 
> "also" (or, if you really want it, then "it should also be preceded by an…")

```diff
-The URI should start at the first octet of the payload and should be terminated by an octet of 0x00, i.e., it must be null terminated. If the URI cannot be placed at the beginning of the payload, then it should be preceded also by an octet of 0x00.
+The URI should start at the first octet of the payload and should be terminated by an octet of 0x00, i.e., it must be null terminated. If the URI cannot be placed at the beginning of the payload, then it should be preceded by an octet of 0x00.
```

> 6: "Note: using the above technique produces a valid and legit packet" - 
> drop 'and legit'. If you really want, you could s/legit/legitimate/, but 
> it is still unclear what exactly this means…
>
> 7: "The node receiving the probe may or may not process the received 
> packet, but this should cause no harm if the probing rate is very low as 
> compared to the network bandwidth and to the processing capacity of all 
> the nodes." — er, what? If you add up  "the processing capacity of all 
> the nodes" in e.g AWS, and sent a very low probing rate to one server, 
> it would presumably cause harm. This sentence needs work :-P
>
> 8: "As the insertion of the URI in the packet may not respect the syntax 
> of the protocol,
>     responses may not be received (such a TCP SYN+ACK) and perhaps 
> an ICMP should be expected or more probably an absence of reply." — 
> Today's Zen Koan:  if a probing packet falls in the forest, and no one 
> replies, did it get there? (If I'm probing subnet foo for 
> <some_malware_which_listens_on_port_1337>, and inserting the URI means I 
> get no reply, then, well,....) Perhaps this needs some wording around 
> "additional attribution packets" or similar?

```diff
-- for a {{!RFC793}} TCP packet with the SYN flag: data is allowed in TCP packets with the SYN flag per section 3.4 of {{!RFC793}} (2nd paragraph);
+- for a {{!RFC793}} TCP packet with the SYN flag: data is allowed in TCP packets with the SYN flag per section 3.4 of {{!RFC793}} (2nd paragraph). However, it may change the way the packet is processed;
 
-- for a {{!RFC8200}} IPv6 packet with either hop-by-hop or destination options headers, in the PadN option. Note that, per the informational {{?RFC4942}} section 2.1.9.5, it is suggested that PadN option should only contain 0x0 and be smaller than 8 octets, so the proposed insertion of the URI in PadN option could have influence on the measurement itself;
+- for a {{!RFC8200}} IPv6 packet with either hop-by-hop or destination options headers, in an experimental option. In theory, the PadN option could also be a possibility but is not recommended: as per the informational {{?RFC4942}}, section 2.1.9.5, it is suggested that PadN options should only contain 0x0 and be smaller than 8 octets. Therefore, inserting the URI in PadN options could bias the measurement itself. For example, the Linux Kernel follows these recommendations since its version 3.5;

-Note: using the above technique produces a valid and legit packet for all the nodes forwarding the probe. The node receiving the probe may or may not process the received packet, but this should cause no harm if the probing rate is very low as compared to the network bandwidth and to the processing capacity of all the nodes. As the insertion of the URI in the packet may not respect the syntax of the protocol, responses may not be received (such a TCP SYN+ACK) and perhaps an ICMP should be expected or more probably an absence of reply.
+Note: using the above technique produces a valid and legitimate packet for all the nodes forwarding the probe. As for the receiver, it may or may not process the packet, depending on where the "probe description URI" is included (e.g., TCP SYN flag with the URI included in data). As a consequence, a response may not be received. The choice of the URI location is important but depends on the use case, which is why multiple possibilities are proposed. In all cases, the probing rate should be done at a rate low enough to not unduly impact the destination.
```

> 3:  "Sending unsolicited probes should obviously be done at a rate low 
> enough to avoid wasting other parties resources." - *Any* unsolicited 
> scan is wasting my resources, and "low enough" is largely meaningless - 
> is this one packet per day per AS, or is 1Kpps OK? Perhaps "at a rate 
> low enough to not unduly impact the other parties resources"? This is 
> still vary vague, but seems less hand-wavey.

> 4: "only good-willing researchers" doesn't read very well. Unfortunately 
> I don't have any other suggestions (other than 'white-hat' which is 
> unlikely to fly…)

> 5: "If  the URI cannot be placed at the beginning of the payload, then 
> it should be preceded also by an octet of 0x00." — I think drop the 
> "also" (or, if you really want it, then "it should also be preceded by an…")

> 6: "Note: using the above technique produces a valid and legit packet" - 
> drop 'and legit'. If you really want, you could s/legit/legitimate/, but 
> it is still unclear what exactly this means…

> 7: "The node receiving the probe may or may not process the received 
> packet, but this should cause no harm if the probing rate is very low as 
> compared to the network bandwidth and to the processing capacity of all 
> the nodes." — er, what? If you add up  "the processing capacity of all 
> the nodes" in e.g AWS, and sent a very low probing rate to one server, 
> it would presumably cause harm. This sentence needs work :-P

> 8: "As the insertion of the URI in the packet may not respect the syntax 
> of the protocol,
>     responses may not be received (such a TCP SYN+ACK) and perhaps 
> an ICMP should be expected or more probably an absence of reply." — 
> Today's Zen Koan:  if a probing packet falls in the forest, and no one 
> replies, did it get there? (If I'm probing subnet foo for 
> <some_malware_which_listens_on_port_1337>, and inserting the URI means I 
> get no reply, then, well,....) Perhaps this needs some wording around 
> "additional attribution packets" or similar?

> 6: "Note: using the above technique produces a valid and legit packet" - 
> drop 'and legit'. If you really want, you could s/legit/legitimate/, but 
> it is still unclear what exactly this means…

> 7: "The node receiving the probe may or may not process the received 
> packet, but this should cause no harm if the probing rate is very low as 
> compared to the network bandwidth and to the processing capacity of all 
> the nodes." — er, what? If you add up  "the processing capacity of all 
> the nodes" in e.g AWS, and sent a very low probing rate to one server, 
> it would presumably cause harm. This sentence needs work :-P

> 8: "As the insertion of the URI in the packet may not respect the syntax 
> of the protocol,
>     responses may not be received (such a TCP SYN+ACK) and perhaps 
> an ICMP should be expected or more probably an absence of reply." — 
> Today's Zen Koan:  if a probing packet falls in the forest, and no one 
> replies, did it get there? (If I'm probing subnet foo for 
> <some_malware_which_listens_on_port_1337>, and inserting the URI means I 
> get no reply, then, well,....) Perhaps this needs some wording around 
> "additional attribution packets" or similar?

The entire paragraph must be rephrased.

Thanks @wkumari for the review.

Justin has already provided PR to address your comments; notably about 'good-willing people'