[Review] Jen Linkova

> 1. SHOULD the document use the normative language? It might be just me
> but I do find 'should'/'must' in lower case a bit confusing in RFCs..

TODO ?

> 2. The Intro says: "Note: it is expected that only good-willing
> researchers will use these techniques". Does it mean that we do not
> expect bad guys to use it? For a security-related document it's a very
> optimistic expectation, IMHO ;)

```diff
-Note: it is expected that only researchers with no bad intentions will use these techniques.
+Note: it is expected that only researchers with no bad intentions will use these techniques, although anyone might use them. This is discussed in {{security}}.

-# Security Considerations
+# Security Considerations {#security}
```

> 3. Section 3 says "When it is not possible to include the "probe
> description URI" in the probe packet itself, then a specific URI must
> be constructed based on the source address of the probe packet". This
> sounds like the draft recommends in-band attribution over out-of-band.
> I might be wrong but out-of-band attribution is more reliable as it is
> less prone to spoofing.

```diff
-When it is not possible to include the "probe description URI" in the probe packet itself, then a specific URI must be constructed based on the source address of the probe packet following {{!RFC8615}}, e.g., for a probe source address of 2001:db8::dead, the following URI are constructed:
+A specific URI is built based on the source address of the probe packet, following {{!RFC8615}}. For example, with a probe source address 2001:db8::dead, the following URI is built:
```

> Shall the draft make some recommendations for probe owners (and probe
> makers, actually - have you talked to RIPE Atlas guys?)

```diff
+# Recommendations
+
+Using either the out-of-band or in-band technique, or even both combined, highly depends on will or context. The authors recommend the following classification of priorities:
+
+1. Both out-of-band and in-band
+2. Out-of-band only
+3. In-band only
+4. None
+
+Both out-of-band and in-band combined should be preferred. It could be used as an indirect means of "authenticating" the probe description URI in the in-band probe, thanks to a correlation with the out-of-band technique (e.g., a reverse DNS lookup). However, the out-of-band technique might not be possible due to several conditions: the presence of a NAT, too many endpoints to run a web server on (e.g., RIPE Atlas probes), dynamic source addresses, etc. In that case, the in-band solution should be preferred.
```

> Maybe the security section shall talk a bit more about what could be
> trusted and what could not?

TODO

> 4. Section 3: "following the syntax described in section 3 of
> [RFC9116]" - it looks like section 3 of RFC9116 defines the location,
> not the format. Did you mean section 4?

```diff
-Similarly, as in {{!RFC9116}}, when a node probes other nodes over the Internet, it should create a text file following the syntax described in section 3 of {{!RFC9116}} and should have the following fields:
+Similarly, as in {{!RFC9116}}, when a node probes other nodes over the Internet, it should create a text file following the syntax described in section 4 of {{!RFC9116}} and should have the following fields:
```

> 5. "Plus, another one "description" which is a URI pointing to a
> document describing the measurement."
> 
> Are you suggesting that an in- or out-of-band URI points to a probe
> description text file which in turns contains another URI pointing to
> a document describing the measurement? Can the  probe description text
> file contains the

TODO clarify/rephrase

> 6. Accessing a web-page on a probe device might be problematic. It
> could be behind a firewall, or the source address might be a random
> one from a large prefix. A stupid idea: can we use a camel..sorry, I
> meant DNS - as an alternative option? ;)
> At least that would provide some sort of authentication.

After consideration, I think the use of DNS is already covered in the "Out-of-band Probe Attribution" section. What am I missing?

> Section 2.2:
> "Similarly, as in [RFC9116], when a node probes other nodes over the
> Internet, it should create a text file following the syntax described
> in section 3 of [RFC9116] and should have the following fields:"
> 
> maybe rephrase as '...the probing node administrator should create a
> text file following the syntax described in section 3 of [RFC9116].
> That file should have the following fields:"?

```diff
-Similarly, as in {{!RFC9116}}, when a node probes other nodes over the Internet, it should create a text file following the syntax described in section 3 of {{!RFC9116}} and should have the following fields:
+Similarly as in {{!RFC9116}}, when a node probes other nodes over the Internet, the probing node administrator should create a text file following the syntax described in section 4 of {{!RFC9116}}. That file should have the following fields:
```

> IANA Consideration:
> "additional values" - I assume it shouldn't be a list item but a part
> of the previous sentence, right?

```diff
-The "Well-Known URIs" registry should be updated with the following:
-
-- additional values (using the template from {{!RFC8615}}):
+The "Well-Known URIs" registry should be updated with the following additional values (using the template from {{!RFC8615}}):
```

> 2. The Intro says: "Note: it is expected that only good-willing
> researchers will use these techniques". Does it mean that we do not
> expect bad guys to use it? For a security-related document it's a very
> optimistic expectation, IMHO ;)

Fair point, and that's part of what was discussed during the meeting in Philly. We should clarify that since anyone (maybe with bad intentions) could use this in-band technique. Again, this is a compromise solution.

> 3. Section 3 says "When it is not possible to include the "probe
> description URI" in the probe packet itself, then a specific URI must
> be constructed based on the source address of the probe packet". This
> sounds like the draft recommends in-band attribution over out-of-band.
> I might be wrong but out-of-band attribution is more reliable as it is
> less prone to spoofing.

We might rephrase since it was not the goal. Out-of-band is indeed less prone to spoofing, but sometimes you might find yourself in a situation where it's not possible to use it. So in-band could be used instead. Both could also be used "at the same time" if it's possible BTW.

> Shall the draft make some recommendations for probe owners (and probe
> makers, actually - have you talked to RIPE Atlas guys?)
>
> Maybe the security section shall talk a bit more about what could be
> trusted and what could not?

Good point.

> 4. Section 3: "following the syntax described in section 3 of
> [RFC9116]" - it looks like section 3 of RFC9116 defines the location,
> not the format. Did you mean section 4?

Indeed, thx!

> 5. "Plus, another one "description" which is a URI pointing to a
> document describing the measurement."
> 
> Are you suggesting that an in- or out-of-band URI points to a probe
> description text file which in turns contains another URI pointing to
> a document describing the measurement? Can the  probe description text
> file contains the

Well, reading that part again and again, I agree it's not that clear. We'll clarify that, as I don't even remember what we meant precisely TBH.

> 6. Accessing a web-page on a probe device might be problematic. It
> could be behind a firewall, or the source address might be a random
> one from a large prefix. A stupid idea: can we use a camel..sorry, I
> meant DNS - as an alternative option? ;)
> At least that would provide some sort of authentication.

+1 :-)